replicaCount: 2

image:
  repository: acrbestrong01.azurecr.io/bestrong-api
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: acr-secret

service:
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  host: "40.121.187.218.nip.io"
  

canary:
  # enabled: true = this is a canary release (deployed to canary.hostname)
  # enabled: false = this is a production release (deployed to main hostname)
  enabled: false
  
  # weight: percentage of traffic to send to canary (0-100)
  # When weight > 0, prod release creates TraefikService for weighted routing
  # Example: weight=20 means 20% to canary, 80% to prod
  weight: 10

certManager:
  enabled: true
  clusterIssuer: "selfsigned-issuer"

env:
  ASPNETCORE_ENVIRONMENT: "Development"
  connectionString: "Data Source=App.db"