replicaCount: 2

image:
  repository: acrbestrong01.azurecr.io/bestrong-api
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: acr-secret

service:
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  host: "40.121.187.218.nip.io"
  

canary:
  enabled: false
  weight: 20
  stableServiceName: "bestrong-prod"
  image:
    tag: "v2.0"

certManager:
  enabled: true
  clusterIssuer: "selfsigned-issuer"

env:
  ASPNETCORE_ENVIRONMENT: "Development"
  connectionString: "Data Source=App.db"


dashboard:
  enabled: true