replicaCount: 2

image:
  repository: acrbestrong01.azurecr.io/bestrong-api
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: acr-secret

service:
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  host: "40.121.187.218.nip.io"

canary:
  enabled: false
  weight: 10
  stableServiceName: "bestrong-prod"

postgresql:
  enabled: true
  auth:
    username: bestrong_user
    password: "StrongPassword123!"
    database: bestrong_db
  primary:
    persistence:
      enabled: true
      size: 1Gi

env:
  ASPNETCORE_ENVIRONMENT: "Production"
  connectionString: "Host=bestrong-prod-postgresql;Port=5432;Database=bestrong_db;Username=bestrong_user;Password=StrongPassword123!;"