replicaCount: 2

image:
  repository: acrbestrong01.azurecr.io/bestrong-api
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  port: 80
  targetPort: 5000

ingress:
  enabled: true
  host: "40.121.187.218.nip.io"
  
canary:
  enabled: false

env:
  ASPNETCORE_ENVIRONMENT: "Development"
  connectionString: "Data Source=App.db"