{{- if .Values.ingress.enabled }}
<<<<<<< HEAD
apiVersion: networking.k8s.io/v1
kind: Ingress
=======
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
>>>>>>> cicd/helm
metadata:
  name: {{ .Release.Name }}-ingressroute
  labels:
    app: {{ .Release.Name }}
<<<<<<< HEAD
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className | quote }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- toYaml .Values.ingress.tls | nindent 4 }}
  {{- end }}
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}
                port:
                  number: {{ .Values.service.port }}
=======
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`{{ if .Values.canary.enabled }}canary-{{ .Values.ingress.host }}{{ else }}{{ .Values.ingress.host }}{{ end }}`)
      kind: Rule
      services:
        - name: {{ .Release.Name }}
          port: {{ .Values.service.port }}
>>>>>>> cicd/helm
{{- end }}