{{- if .Values.ingress.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-ingressroute
  labels:
    app: {{ .Release.Name }}
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ .Values.ingress.host }}`)
      kind: Rule
      services:
        
        - name: {{ .Release.Name }}
          port: {{ .Values.service.port }}
          {{- if .Values.canary.enabled }}
          weight: {{ sub 100 .Values.canary.weight }}
          {{- end }}

        
        {{- if .Values.canary.enabled }}
        - name: {{ .Release.Name }}-canary
          port: {{ .Values.service.port }}
          weight: {{ .Values.canary.weight }}
        {{- end }}
  tls:
    secretName: {{ .Release.Name }}-tls
{{- end }}