{{- if .Values.ingress.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-ingressroute
  labels:
    app: {{ .Release.Name }}
spec:
  entryPoints:
    - websecure
  routes:
{{- if .Values.canary.enabled }}
    # === CANARY RELEASE ===
    # Використовуємо окремий домен для canary (canary.host у values)
    # Він веде ПРЯМО на canary-сервіс, щоб тестувати його ізольовано.
    - match: Host(`{{ .Values.canary.host | default (printf "canary-%s" .Values.ingress.host) }}`)
      kind: Rule
      priority: 50
      services:
        - name: {{ .Release.Name }}   # Це вказує на bestrong-canary
          port: {{ .Values.service.port }}

{{- else }}
    # === PROD RELEASE ===
    # Це основний домен. Тут працює розподіл трафіку.
    - match: Host(`{{ .Values.ingress.host }}`)
      kind: Rule
      priority: 10
      
      {{- if gt (.Values.canary.weight | int) 0 }}
      # Якщо вага > 0, використовуємо TraefikService для розподілу (20/80)
      services:
        - name: bestrong-weighted   # Ім'я має збігатися з тим, що в traefik-service.yaml
          kind: TraefikService
      {{- else }}
      # Якщо вага = 0 (або канарки немає), йдемо прямо на прод
      services:
        - name: {{ .Release.Name }}
          port: {{ .Values.service.port }}
      {{- end }}
{{- end }}
  tls:
    secretName: {{ .Release.Name }}-tls
{{- end }}