{{- if .Values.ingress.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}-ingressroute
  labels:
    app: {{ .Release.Name }}
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`{{ .Values.ingress.host }}`) 
      kind: Rule
      
      priority: {{ if .Values.canary.enabled }}50{{ else }}10{{ end }}
      
      services:
        {{- if .Values.canary.enabled }}
        - name: {{ .Release.Name }}-weighted
          kind: TraefikService
        {{- else }}
        - name: {{ .Release.Name }}
          port: {{ .Values.service.port }}
        {{- end }}
{{- end }}